body
{
    background-color: #000;
    font-family: Arial;
    font-size: 12px;
}

h1
{
    color: #fff;
    display: none;
}

#container
{
    margin: 0px auto;
}

#container div
{
    float: left;
}

#container div#emulatorInformationContainer
{
    background-color: #fff;
    width: 200px;
    margin-right: 3px;
    padding: 5px;
}

#container div#emulatorInformationContainer ul
{
    margin: 0px;
    padding: 0px;
}

#container div#emulatorInformationContainer ul li
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#container div#emulatorInformationContainer ul li .type
{
    font-weight: bold;
    width: 80px;
    display: block;
    float: left;
}

#container iframe
{
    display: block;
}

#container input
{
    background-color: #000;
    border: 0px;
    color: #fff;
}

#container #leftKey
{
    float: left;
}

#container #rightKey
{
    float: right;
}

#menus a
{
    color: #000;
    text-decoration: none;
}

#menus
{
}

#menus ul
{
    background-color: #fff;
    color: #000;
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 480px;
    display: none;
}

#menus ul li
{
    list-style-type: none;
    padding: 5px 8px 5px 5px;
}

#menus ul li a
{
    display: block;
}

.showMode
{
    margin-top: 5px;
}